# Financial Statement Analysis of S&P 500 stocks
<br>

Database Engineering
<br><br>Yang Liu, Jiawei Xue
<br>

# Agenda
<br>
1.Introduction
<br>
2.Data sources
<br>
3.Data model
<br>
4.Data summary
<br>
5.Data preparation
<br>
6.Propose questions and answears
<br>
7.Conclusion
<br>
8.Future work
<br>
9.References

# Introduction
<br>
Financial statement analysis is the process of analyzing a company's financial statements for decision-making purposes and to seek the undervalued stocks for investments. Financial statements record financial data, which must be evaluated through financial statement analysis to become more useful to investors, shareholders, managers, and other interested parties.<br><br>
In this project, we attempted to use Mysql and financial statement analysis to achieve two goals.<br><br>
First, we aimed to implement the value investing method, known as Warren Buffett's and Benjamin Graham's investment methodology, to find out which stocks to invest in. Value investing is an investment strategy where stocks are selected and traded for less than their intrinsic values. Using this investment strategy, we could find the opportunity to profit because most of the speculators on the market overreact to good and bad news, resulting in stock price movements that do not correspond with a company's long-term fundamentals. <br><br>
Second, we utilized the DuPont analysis to analyze a company’s ability to increase its return on equity. In other words, this model breaks down the return on equity ratio to explain how companies can increase their return for investors. The Dupont analysis looks at three main components of the ROE ratio: profit margin, total asset turnover, and financial leverage. Based on these three performance measures the model concludes that a company can raise its ROE by maintaining a high profit margin, increasing asset turnover, or leveraging assets more effectively.<br>

# Data Sources

We retrieved our datasets from Kaggle-New York Stock Exchange, a competition on the most famous data science community.
<br>
<br>
The datasets in this Kaggle competition consisted three following files:
<br><br>
1.Securities.csv: general information of each company information from EDGAR SEC databases, such as stock symbol, company name, industry, address, the first date that a company became a listedd company and the CIK number of each company (A Central Index Key or CIK number is a number given to an individual or company by the United States Securities and Exchange Commission. The number is used to identify the filings of a company, person, or entity in several online databases, including EDGAR).
<br><br>
2.Financial statements.csv: Public companies’ financial statements' data from Nasdaq Financials.
<br><br>
Financial statements is a formal record of the financial activities and position of a business, person, or other entity,it reports on a company's assets, liabilities, and owners equity at a given point in time, a company's income, expenses, and profits over a period of time, the changes in equity of the company during the stated period, and a company's cash flow activities, particularly its operating, investing and financing activities.
<br><br>
3.Prices.csv: Historical stock data from Yahoo Finance, contains the information of stock symbol, transaction date, open price, close price, lowest price, highest price and the trasaction volume in one day.<br><br>

# Data Model
<br>
We built the entity-relationship diagram (ER model for short) as our data model. An ER diagram describes how entities relate to each other.
<br><br>
Design reasoning:
<br><br>
(a)By drawing ER diagrams to visualize database design ideas, we had a chance to identify the mistakes and design flaws, and to make corrections before executing the changes in the database. 
<br><br>
(b)Considering that there may be some ambiguities or unnecessary processes if the users or other developers do not understand the database very well, we decided to present our data schema in a graphical form, which offers the users and developers a easier and more efficient way to manipulate and communicate. 
<br><br>
(c)By visualizing a database schema with an ERD, we have a full picture of the entire database schema. We can easily locate entities, view their attributes and to identify the relationships they have with others. These allows us to analyze an existing database and to reveal database problem easier.
<br>
<br>
Design method:
<br><br>
Our methodology when designing the ER diagram is to connect all the data we needed together and to implement this in the simplest way. The main table in the ERD is the securities table because it has unique values in the column of ticker_symbol and each row could be joined to other tables which also contain the column of ticker_symbol. The primary key in the securities table is ticker_symbol.
<br><br>
For the tables of financial_statements and prices, as they do not have unique values in any column, we chose to use composite keys as their primary keys. The composite primary key of financial_statements is ticker_symbol and period_ending. The values of this combination in each row is unique. Similarly, the composite primary key of prices are symbol and date. The financial_statements uses ticker_symbol as its foreign key while prices uses symbol as its foreign key so that they can both refer to ticker_symbol, the primary key of securities.
<br><br>
In summary, both the relationships between securities and financial_statements and between securities and prices are one to many relationships.
<br>

# Data Preparation

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
%load_ext sql
%sql mysql+pymysql://root:@fe512_mysql/fe512db
%sql USE fe512db;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

See the list of databases

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
6 rows affected.

[('FE512',),
 ('fe512db',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

Choose the database we are going to use

In [4]:
%sql SELECT DATABASE();

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('fe512db',)]

Clear up the database by dropping unnecessary tables and views

In [5]:
%%sql
DROP VIEW IF EXISTS MSQR;
DROP VIEW IF EXISTS HPE_earlier;
DROP VIEW IF EXISTS HPE_later;
DROP VIEW IF EXISTS DHI_earlier;
DROP VIEW IF EXISTS DHI_later;
DROP TABLE IF EXISTS ROE_SUM1;
DROP TABLE IF EXISTS prices;
DROP TABLE IF EXISTS financial_statements;
DROP TABLE IF EXISTS securities;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

See the list of existed tables

In [6]:
%sql SHOW FULL TABLES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
4 rows affected.

[('13mar', 'VIEW'),
 ('16mar', 'VIEW'),
 ('2013report', 'BASE TABLE'),
 ('2016report', 'BASE TABLE')]

Create the table of securities

In [7]:
%%sql 
CREATE TABLE `fe512db`.`securities` (
  `Ticker_symbol` VARCHAR(45) NOT NULL,
  `Company_name` VARCHAR(45) NULL,
  `SEC_filings` VARCHAR(45) NULL,
  `GICS_Sector` VARCHAR(45) NULL,
  `GICS_Sub_Industry` VARCHAR(45) NULL,
  `Address` VARCHAR(45) NULL,
  `State` VARCHAR(45) NULL,
  `Date_first_added` Date NULL,
  `CIK` INT,
  PRIMARY KEY (`Ticker_symbol`));

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

Check the creation of table securities

In [8]:
%sql SHOW tables;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('13mar',), ('16mar',), ('2013report',), ('2016report',), ('securities',)]

Set up the configuration of mysql

In [9]:
%sql SET sql_mode = '';

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

Load the data into the table of securities

In [10]:
%%sql
LOAD DATA INFILE '/home/data/securities.csv' 
INTO TABLE securities 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
505 rows affected.

[]

Check the creation of securities

In [11]:
%sql DESCRIBE securities;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
9 rows affected.

[('Ticker_symbol', 'varchar(45)', 'NO', 'PRI', None, ''),
 ('Company_name', 'varchar(45)', 'YES', '', None, ''),
 ('SEC_filings', 'varchar(45)', 'YES', '', None, ''),
 ('GICS_Sector', 'varchar(45)', 'YES', '', None, ''),
 ('GICS_Sub_Industry', 'varchar(45)', 'YES', '', None, ''),
 ('Address', 'varchar(45)', 'YES', '', None, ''),
 ('State', 'varchar(45)', 'YES', '', None, ''),
 ('Date_first_added', 'date', 'YES', '', None, ''),
 ('CIK', 'int(11)', 'YES', '', None, '')]

Show five rows of securities for example

In [12]:
%sql SELECT * FROM securities LIMIT 5;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('A', 'Agilent Technologies Inc', 'reports', 'Health Care', 'Health Care Equipment', 'Santa Clara', ' California', '0000-00-00', 1090872),
 ('AAL', 'American Airlines Group', 'reports', 'Industrials', 'Airlines', 'Fort Worth', ' Texas', datetime.date(2015, 3, 23), 6201),
 ('AAP', 'Advance Auto Parts', 'reports', 'Consumer Discretionary', 'Automotive Retail', 'Roanoke', ' Virginia', datetime.date(2015, 7, 9), 1158449),
 ('AAPL', 'Apple Inc.', 'reports', 'Information Technology', 'Computer Hardware', 'Cupertino', ' California', datetime.date(1982, 11, 30), 320193),
 ('ABBV', 'AbbVie', 'reports', 'Health Care', 'Pharmaceuticals', 'North Chicago', ' Illinois', datetime.date(2012, 12, 31), 1551152)]

See how many rows in the table of securities

In [13]:
%sql SELECT COUNT(*) FROM securities;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[(505,)]

Create the table prices

In [14]:
%%sql
CREATE TABLE `fe512db`.`prices` (
  `symbol` VARCHAR(45) NOT NULL,
  `date` DATE NOT NULL,
  `open` FLOAT NULL,
  `close` FLOAT NULL,
  `low` FLOAT NULL,
  `high` FLOAT NULL,
  `volume` INT NULL,
  PRIMARY KEY (`date`, `symbol`),
  CONSTRAINT `symbol`
    FOREIGN KEY (`symbol`)
    REFERENCES `fe512db`.`securities` (`Ticker_symbol`));

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

Check the creation of prices

In [15]:
%sql DESCRIBE prices;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
7 rows affected.

[('symbol', 'varchar(45)', 'NO', 'PRI', None, ''),
 ('date', 'date', 'NO', 'PRI', None, ''),
 ('open', 'float', 'YES', '', None, ''),
 ('close', 'float', 'YES', '', None, ''),
 ('low', 'float', 'YES', '', None, ''),
 ('high', 'float', 'YES', '', None, ''),
 ('volume', 'int(11)', 'YES', '', None, '')]

Load the data into table prices

In [16]:
%%sql
LOAD DATA INFILE '/home/data/prices.csv' 
INTO TABLE prices fields 
TERMINATED BY ',' 
IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
851264 rows affected.

[]

See a sample of data records in prices

In [17]:
%sql SELECT * FROM prices LIMIT 5;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('A', datetime.date(2010, 1, 4), 22.4535, 22.3891, 22.2675, 22.6252, 3815500),
 ('AAL', datetime.date(2010, 1, 4), 4.84, 4.77, 4.66, 4.94, 9837300),
 ('AAP', datetime.date(2010, 1, 4), 40.7, 40.38, 40.36, 41.04, 1701700),
 ('AAPL', datetime.date(2010, 1, 4), 30.49, 30.5729, 30.34, 30.6429, 123432400),
 ('ABC', datetime.date(2010, 1, 4), 26.29, 26.63, 26.14, 26.69, 2455900)]

Check the total number of records and period in prices

In [18]:
%sql SELECT COUNT(symbol),MIN(date), MAX(date) FROM prices;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[(851264, datetime.date(2010, 1, 4), datetime.date(2016, 12, 30))]

Create the table of financial_statements

In [19]:
%%sql
CREATE TABLE `fe512db`.`financial_statements` (
  `Ticker_Symbol` VARCHAR(45) NOT NULL,
  `Period_Ending` DATE NOT NULL,
  `Accounts_Payable` DOUBLE NULL,
  `Accounts_Receivable` DOUBLE NULL,
  `Add'l_income/expense_ items` DOUBLE NULL,
  `After_Tax_ROE` DOUBLE NULL,
  `Capital_Expenditures` DOUBLE NULL,
  `Capital_Surplus` DOUBLE NULL,
  `Cash_Ratio` DOUBLE NULL,
  `Cash_and_Cash_Equivalents` DOUBLE NULL,
  `Changes_in_Inventories` DOUBLE NULL,
  `Common_Stocks` DOUBLE NULL,
  `Cost_of_Revenue` DOUBLE NULL,
  `Current_Ratio` DOUBLE NULL,
  `Deferred_Asset_Charges` DOUBLE NULL,
  `Deferred_Liability_Charges` DOUBLE NULL,
  `Depreciation` DOUBLE NULL,
  `Earnings_Before_Interest_and_Tax` DOUBLE NULL,
  `Earnings_Before_Tax` DOUBLE NULL,
  `Effect_of_Exchange_Rate` DOUBLE NULL,
  `Equity_Earnings/Loss_Unconsolidated_Subsidiary` DOUBLE NULL,
  `Fixed_Assets` DOUBLE NULL,
  `Goodwill` DOUBLE NULL,
  `Gross_Margin` DOUBLE NULL,
  `Gross_Profit` DOUBLE NULL,
  `Income_Tax` DOUBLE NULL,
  `Intangible_Assets` DOUBLE NULL,
  `Interest_Expense` DOUBLE NULL,
  `Inventory` DOUBLE NULL,
  `Investments` DOUBLE NULL,
  `Liabilities` DOUBLE NULL,
  `Long-Term_Debt` DOUBLE NULL,
  `Long-Term_Investments` DOUBLE NULL,
  `Minority_Interest` DOUBLE NULL,
  `Misc._Stocks` DOUBLE NULL,
  `Net_Borrowings` DOUBLE NULL,
  `Net_Cash_Flow` DOUBLE NULL,
  `Net_Cash_Flow-Operating` DOUBLE NULL,
  `Net_Cash_Flows-Financing` DOUBLE NULL,
  `Net_Cash_Flows-Investing` DOUBLE NULL,
  `Net_Income` DOUBLE NULL,
  `Net_Income_Adjustments` DOUBLE NULL,
  `Net_Income_Applicable_to_Common_Shareholders` DOUBLE NULL,
  `Net_Income-Cont._Operations` DOUBLE NULL,
  `Net_Receivables` DOUBLE NULL,
  `Non-Recurring_Itemsl` DOUBLE NULL,
  `Operating_Income` DOUBLE NULL,
  `Operating_Margin` DOUBLE NULL,
  `Other_Assets` DOUBLE NULL,
  `Other_Current_Assets` DOUBLE NULL,
  `Other_Current_Liabilities` DOUBLE NULL,
  `Other_Equity` DOUBLE NULL,
  `Other_Financing_Activities` DOUBLE NULL,
  `Other_Investing_Activities` DOUBLE NULL,
  `Other_Liabilities` DOUBLE NULL,
  `Other_Operating_Activities` DOUBLE NULL,
  `Other_Operating_Items` DOUBLE NULL,
  `Pre-Tax_Margin` DOUBLE NULL,
  `Pre-Tax_ROE` DOUBLE NULL,
  `Profit_Margin` DOUBLE NULL,
  `Quick_Ratio` DOUBLE NULL,
  `Research_and_Development` DOUBLE NULL,
  `Retained_Earnings` DOUBLE NULL,
  `Sale_and_Purchase_of_Stock` DOUBLE NULL,
  `Sales_General_and_Admin` DOUBLE NULL,
  `Short-Term_Debt_/_Current_Portion_of_Long-Term_Debt` DOUBLE NULL,
  `Short-Term_Investments` DOUBLE NULL,
  `Total_Assets` DOUBLE NULL,
  `Total_Current_Assets` DOUBLE NULL,
  `Total_Current_Liabilities` DOUBLE NULL,
  `Total_Equity` DOUBLE NULL,
  `Total_Liabilities` DOUBLE NULL,
  `Total_Liabilities_&_Equity` DOUBLE NULL,
  `Total_Revenue` DOUBLE NULL,
  `Treasury_Stock` DOUBLE NULL,
  `For_Year` DOUBLE NULL,
  `Earnings_Per_Share` DOUBLE NULL,
  `Estimated_Shares_Outstanding` DOUBLE NULL,
  PRIMARY KEY (Ticker_Symbol, Period_Ending),
  CONSTRAINT `Ticker_Symbol`
  FOREIGN KEY (`Ticker_Symbol`)
  REFERENCES `fe512db`.`securities` (`Ticker_symbol`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

Load data into the table of financial_statements

In [20]:
%%sql
LOAD DATA INFILE '/home/data/financial_statements.csv' 
INTO TABLE financial_statements fields 
TERMINATED BY ',' 
IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1776 rows affected.

[]

In [21]:
%sql SELECT * FROM financial_statements LIMIT 5;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('AAL', datetime.date(2012, 12, 31), 3068000000.0, -222000000.0, -1961000000.0, 23.0, -1888000000.0, 4695000000.0, 53.0, 1330000000.0, 0.0, 127000000.0, 10499000000.0, 78.0, 0.0, 223000000.0, 1001000000.0, -1813000000.0, -2445000000.0, 0.0, 0.0, 13402000000.0, 0.0, 58.0, 14356000000.0, -569000000.0, 869000000.0, 632000000.0, 580000000.0, 306000000.0, 473000000.0, 7116000000.0, 0.0, 0.0, 0.0, -1020000000.0, 197000000.0, 1285000000.0, 483000000.0, -1571000000.0, -1876000000.0, 2050000000.0, -1876000000.0, -4084000000.0, 1124000000.0, 386000000.0, 148000000.0, 1.0, 2167000000.0, 626000000.0, 4524000000.0, -2980000000.0, 1509000000.0, 11000000.0, 15147000000.0, -141000000.0, 845000000.0, 10.0, 31.0, 8.0, 72.0, 0.0, -9462000000.0, 0.0, 12977000000.0, 1419000000.0, 3412000000.0, 23510000000.0, 7072000000.0, 9011000000.0, -7987000000.0, 24891000000.0, 16904000000.0, 24855000000.0, -367000000.0, 2012.0, -5.6, 335000000.0),
 ('AAL', datetime.date(2013, 12, 31), 4975000000.0, -93000000.0, -2723000000.0, 67.0, -3114000000.0, 10592000000.0, 75.0, 2175000000.0, 0.0, 5000000.0, 11019000000.0, 104.0, 0.0, 935000000.0, 1020000000.0, -1324000000.0, -2180000000.0, 0.0, 0.0, 19259000000.0, 4086000000.0, 59.0, 15724000000.0, -346000000.0, 2311000000.0, 856000000.0, 1012000000.0, -1181000000.0, -235000000.0, 15353000000.0, 0.0, 0.0, 0.0, 2208000000.0, 660000000.0, 675000000.0, 3799000000.0, -3814000000.0, -1834000000.0, 1873000000.0, -1834000000.0, -4489000000.0, 1560000000.0, 559000000.0, 1399000000.0, 5.0, 2299000000.0, 1465000000.0, 7385000000.0, -2032000000.0, 1711000000.0, 481000000.0, 14915000000.0, -56000000.0, 853000000.0, 8.0, 80.0, 7.0, 96.0, 0.0, -11296000000.0, 0.0, 12913000000.0, 1446000000.0, 8111000000.0, 42278000000.0, 14323000000.0, 13806000000.0, -2731000000.0, 45009000000.0, 42278000000.0, 26743000000.0, 0.0, 2013.0, -11.25, 163022222.2),
 ('AAL', datetime.date(2014, 12, 31), 4668000000.0, -160000000.0, -150000000.0, 143.0, -5311000000.0, 15135000000.0, 60.0, 1768000000.0, 0.0, 7000000.0, 15620000000.0, 88.0, 0.0, 829000000.0, 1342000000.0, 4099000000.0, 3212000000.0, 0.0, 0.0, 23084000000.0, 4091000000.0, 63.0, 27030000000.0, 330000000.0, 2240000000.0, 887000000.0, 1004000000.0, 1799000000.0, -1026000000.0, 16043000000.0, 0.0, 0.0, 0.0, 170000000.0, -146000000.0, 3080000000.0, -315000000.0, -2911000000.0, 2882000000.0, 542000000.0, 2882000000.0, 2882000000.0, 1771000000.0, 800000000.0, 4249000000.0, 10.0, 2060000000.0, 898000000.0, 7059000000.0, -4559000000.0, 817000000.0, 601000000.0, 10928000000.0, -500000000.0, 1295000000.0, 8.0, 159.0, 7.0, 80.0, 0.0, -8562000000.0, -1052000000.0, 20686000000.0, 1677000000.0, 6309000000.0, 43225000000.0, 11750000000.0, 13404000000.0, 2021000000.0, 41204000000.0, 43225000000.0, 42650000000.0, 0.0, 2014.0, 4.02, 716915422.9),
 ('AAL', datetime.date(2015, 12, 31), 5102000000.0, 352000000.0, -708000000.0, 135.0, -6151000000.0, 11591000000.0, 51.0, 1085000000.0, 0.0, 6000000.0, 11096000000.0, 73.0, 2477000000.0, 667000000.0, 1487000000.0, 5496000000.0, 4616000000.0, 0.0, 0.0, 27510000000.0, 4091000000.0, 73.0, 29894000000.0, -2994000000.0, 2249000000.0, 880000000.0, 863000000.0, 443000000.0, -633000000.0, 18330000000.0, 0.0, 0.0, 0.0, 2856000000.0, -604000000.0, 6249000000.0, -1259000000.0, -5594000000.0, 7610000000.0, -2662000000.0, 7610000000.0, 7610000000.0, 1425000000.0, 1051000000.0, 6204000000.0, 15.0, 2103000000.0, 748000000.0, 6272000000.0, -4732000000.0, 96000000.0, 114000000.0, 10178000000.0, 95000000.0, 1364000000.0, 11.0, 82.0, 19.0, 67.0, 0.0, -1230000000.0, -3846000000.0, 21275000000.0, 2231000000.0, 5864000000.0, 48415000000.0, 9985000000.0, 13605000000.0, 5635000000.0, 42780000000.0, 48415000000.0, 40990000000.0, 0.0, 2015.0, 11.39, 668129938.5),
 ('AAP', datetime.date(2012, 12, 29), 2409453000.0, -89482000.0, 600000.0, 32.0, -271182000.0, 520215000.0, 23.0, 598111000.0, -260298000.0, 7000.0, 3106967000.0, 124.0, 0.0, 0.0, 189544000.0, 657915000.0, 624074000.0, 0.0, 0.0, 1292547000.0, 76389000.0, 50.0, 3098036000.0, 236404000.0, 28845000.0, 33841000.0, 2308609000.0, 0.0, 426323000.0, 604461000.0, 0.0, 0.0, 0.0, 177445000.0, 540210000.0, 685281000.0, 127907000.0, -272978000.0, 387670000.0, 23311000.0, 387670000.0, 387670000.0, 229866000.0, 0.0, 657315000.0, 11.0, 31833000.0, 47614000.0, 149558000.0, 2667000.0, -33499000.0, -1796000.0, 239021000.0, 8213000.0, 0.0, 10.0, 52.0, 6.0, 34.0, 0.0, 714900000.0, -18600000.0, 2440721000.0, 627000.0, 0.0, 4613814000.0, 3184200000.0, 2559638000.0, 1210694000.0, 3403120000.0, 4613814000.0, 6205003000.0, -27095000.0, 2012.0, 5.29, 73283553.88)]

Check the number of records and period in financial statements

In [22]:
%sql SELECT COUNT(Ticker_Symbol),MIN(period_ending), MAX(period_ending) FROM financial_statements;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[(1776, datetime.date(2012, 3, 3), datetime.date(2016, 12, 31))]

# Propose Questions and Answears
<br>
<br>
This section is mainly about two topics. The first part is value investing, and the second part is Dupont Analysis.

# Part I   Value Investing<br>
We start our research  with checking the database to see whether it meet our anticipation.

Q1.1 What are the top 10 companies which had the largest net assets at the end of 2016?

In [23]:
%%sql 
SELECT fs.Ticker_Symbol,s.Company_name,fs.Period_Ending,(fs.Total_Assets-fs.Total_Liabilities) AS Net_assests 
FROM financial_statements AS fs
INNER JOIN securities AS s
ON fs.Ticker_Symbol=s.Ticker_Symbol
WHERE Period_Ending LIKE "2016-12%"
ORDER BY Net_assests DESC
LIMIT 10;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
10 rows affected.

[('INTC', 'Intel Corp.', datetime.date(2016, 12, 31), 65899000000.0),
 ('FB', 'Facebook', datetime.date(2016, 12, 31), 59194000000.0),
 ('GM', 'General Motors', datetime.date(2016, 12, 31), 44000000000.0),
 ('CHTR', 'Charter Communications', datetime.date(2016, 12, 31), 40000000000.0),
 ('UNH', 'United Health Group Inc.', datetime.date(2016, 12, 31), 38464000000.0),
 ('CVS', 'CVS Health', datetime.date(2016, 12, 31), 36830000000.0),
 ('KMI', 'Kinder Morgan', datetime.date(2016, 12, 31), 34431000000.0),
 ('AMGN', 'Amgen Inc', datetime.date(2016, 12, 31), 29875000000.0),
 ('F', 'Ford Motor', datetime.date(2016, 12, 31), 29000000000.0),
 ('UTX', 'United Technologies', datetime.date(2016, 12, 31), 27579000000.0)]

1.1 Interpretation<br>
The net assets represent how much a company is worth on its book value. The top 10 companies with the largest net assets should be the big names and also have good operating performance. The output meets our anticipation. At the end of 2016, the top 10 largest companies include Intel, Facebook, and CVS, which are all very familiar to us. The company which had the largest net assets is Intel. Its net assets at the end of 2016 is $65,899,000,000.00 .

Q1.2 What are the top 10 companies that had the highest market values at the end of 2016?

In [24]:
%%sql
SELECT p.symbol,s.company_name,p.date,ROUND(p.close*fs.Estimated_Shares_Outstanding,2) AS market_value
FROM securities AS s 
RIGHT JOIN financial_statements as fs ON s.ticker_symbol=fs.ticker_Symbol
RIGHT JOIN prices as p ON s.Ticker_symbol=p.symbol
WHERE p.date = "2016-12-30" AND fs.Period_Ending LIKE "2016%"
ORDER BY market_value DESC
LIMIT 10;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
10 rows affected.

[('AAPL', 'Apple Inc.', datetime.date(2016, 12, 30), 633708781565.15),
 ('MSFT', 'Microsoft Corp.', datetime.date(2016, 12, 30), 492371561222.67),
 ('WMT', 'Wal-Mart Stores', datetime.date(2016, 12, 30), 221757493512.01),
 ('DE', 'Deere & Co.', datetime.date(2016, 12, 30), 172552370803.56),
 ('HD', 'Home Depot', datetime.date(2016, 12, 30), 171177911316.24),
 ('DIS', 'The Walt Disney Company', datetime.date(2016, 12, 30), 169918408193.89),
 ('CSCO', 'Cisco Systems', datetime.date(2016, 12, 30), 152362710166.44),
 ('QCOM', 'QUALCOMM Inc.', datetime.date(2016, 12, 30), 96866141277.67),
 ('NKE', 'Nike', datetime.date(2016, 12, 30), 86480003112.06),
 ('SBUX', 'Starbucks Corp.', datetime.date(2016, 12, 30), 81905081298.35)]

1.2 Interpretation<br>
Market value is used to refer to the market capitalization of a publicly-traded company. Market value can be obtained by multiplying the number of its outstanding shares by the current share price. The output of Q1.2 denotes that the top 10 companies which had the highest market value at the end of 2016 are Apple Inc., Microsoft Corp., Wal-Mart Stores, Deere & Co., Home Depot, The Walt Disney Company, Cisco Systems, QUALCOMM Inc., Nike, and Starbucks Corp. This means they are valued the highest on the open market.
<br><br>Here a problem comes out. The outputs of Q1.1 and Q1.2 have different companies. This means that there is a difference between how much the investors value a company and how much a company's book value is. Our objective is to find out the companies that are undervalued. Therefore, we keep exploring.

Q1.3 Which companies had the largest price-to-book ratio at the end of their fiscal year in 2016?

In [25]:
%sql DROP VIEW IF EXISTS MSQR;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

In [26]:
%%sql
CREATE VIEW MSQR AS(
SELECT
s.ticker_symbol,s.company_name,s.GICS_sector,s.State,fs.Period_Ending,
ROUND(p.close*fs.Estimated_Shares_Outstanding,2) AS market_value,
(fs.Total_Assets-fs.Total_Liabilities) AS Net_assests,
ROUND((p.close*fs.Estimated_Shares_Outstanding)/(fs.Total_Assets-fs.Total_Liabilities),2) AS PB_ratio
FROM securities AS s 
RIGHT JOIN financial_statements as fs ON s.ticker_symbol=fs.ticker_Symbol
RIGHT JOIN prices as p ON s.Ticker_symbol=p.symbol
WHERE fs.Period_Ending LIKE "2016%" 
AND (p.date=fs.Period_Ending) 
AND fs.Estimated_Shares_Outstanding !=0
AND (fs.Total_assets-fs.total_liabilities)>0
ORDER BY PB_ratio ASC
LIMIT 50);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

In [27]:
%sql SELECT * FROM MSQR;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
46 rows affected.

[('NWSA', 'News Corp. Class A', 'Consumer Discretionary', ' New York', datetime.date(2016, 6, 30), 6772166894.66, 11584000000.0, 0.58),
 ('WDC', 'Western Digital', 'Information Technology', ' California', datetime.date(2016, 7, 1), 11134396332.27, 11145000000.0, 1.0),
 ('HPE', 'Hewlett Packard Enterprise', 'Information Technology', ' California', datetime.date(2016, 10, 31), 38601993394.4, 31448000000.0, 1.23),
 ('WRK', 'WestRock Company', 'Materials', ' Virginia', datetime.date(2016, 9, 30), 12116892191.54, 9728800000.0, 1.25),
 ('MU', 'Micron Technology', 'Information Technology', ' Idaho', datetime.date(2016, 9, 1), 17009777150.17, 12080000000.0, 1.41),
 ('JEC', 'Jacobs Engineering Group', 'Industrials', ' California', datetime.date(2016, 9, 30), 6220083779.62, 4265276000.0, 1.46),
 ('HP', 'Helmerich & Payne', 'Energy', ' Oklahoma[5]', datetime.date(2016, 9, 30), 7082452911.26, 4560925000.0, 1.55),
 ('DHI', 'D. R. Horton', 'Consumer Discretionary', ' Texas', datetime.date(2016, 9, 30), 11199272249.95, 6792500000.0, 1.65),
 ('NTAP', 'NetApp', 'Information Technology', ' California', datetime.date(2016, 4, 29), 6940461359.51, 2881000000.0, 2.41),
 ('TEL', 'TE Connectivity Ltd.', 'Information Technology', ' Switzerland', datetime.date(2016, 9, 30), 23559091890.02, 8485000000.0, 2.78),
 ('COO', 'The Cooper Companies', 'Health Care', ' California', datetime.date(2016, 10, 31), 8534574662.86, 2699867000.0, 3.16),
 ('PH', 'Parker-Hannifin', 'Industrials', ' Ohio', datetime.date(2016, 6, 30), 14627359806.28, 4575255000.0, 3.2),
 ('KMX', 'Carmax Inc', 'Consumer Discretionary', ' Virginia', datetime.date(2016, 2, 29), 9394064572.5, 2904786000.0, 3.23),
 ('FDX', 'FedEx Corporation', 'Industrials', ' Tennessee', datetime.date(2016, 5, 31), 45560759065.9, 13784000000.0, 3.31),
 ('HRS', 'Harris Corporation', 'Information Technology', ' Florida', datetime.date(2016, 7, 1), 10252551266.68, 3057000000.0, 3.35),
 ('SYMC', 'Symantec Corp.', 'Information Technology', ' California', datetime.date(2016, 4, 1), 12346113105.37, 3676000000.0, 3.36),
 ('VIAB', 'Viacom Inc.', 'Consumer Discretionary', ' New York', datetime.date(2016, 9, 30), 15093057247.2, 4277000000.0, 3.53),
 ('GPN', 'Global Payments Inc', 'Information Technology', ' Georgia', datetime.date(2016, 5, 31), 10295479123.54, 2746476000.0, 3.75),
 ('CAH', 'Cardinal Health Inc.', 'Health Care', ' Ohio', datetime.date(2016, 6, 30), 25532172718.95, 6554000000.0, 3.9),
 ('MCK', 'McKesson Corp.', 'Health Care', ' California', datetime.date(2016, 3, 31), 36157892056.45, 8924000000.0, 4.05),
 ('SWKS', 'Skyworks Solutions', 'Information Technology', ' Massachusetts', datetime.date(2016, 9, 30), 14378468192.6, 3541400000.0, 4.06),
 ('DG', 'Dollar General', 'Consumer Discretionary', ' Tennessee', datetime.date(2016, 1, 29), 22083561098.98, 5377876000.0, 4.11),
 ('APD', 'Air Products & Chemicals Inc', 'Materials', ' Pennsylvania', datetime.date(2016, 9, 30), 30058284952.16, 7079600000.0, 4.25),
 ('STX', 'Seagate Technology', 'Information Technology', ' Ireland', datetime.date(2016, 7, 1), 7180048397.39, 1593000000.0, 4.51),
 ('MCHP', 'Microchip Technology', 'Information Technology', ' Arizona', datetime.date(2016, 3, 31), 9825888458.69, 2150919000.0, 4.57),
 ('EMR', 'Emerson Electric Company', 'Industrials', ' Missouri', datetime.date(2016, 9, 30), 35851635260.71, 7568000000.0, 4.74),
 ('BDX', 'Becton Dickinson', 'Health Care', ' New Jersey', datetime.date(2016, 9, 30), 38217097134.81, 7633000000.0, 5.01),
 ('COL', 'Rockwell Collins', 'Industrials', ' Iowa', datetime.date(2016, 9, 30), 11003497728.35, 2078000000.0, 5.3),
 ('VAR', 'Varian Medical Systems', 'Health Care', ' California', datetime.date(2016, 9, 30), 9488369314.46, 1740500000.0, 5.45),
 ('MSFT', 'Microsoft Corp.', 'Information Technology', ' Washington', datetime.date(2016, 6, 30), 405449825131.5, 72000000000.0, 5.63),
 ('CTAS', 'Cintas Corporation', 'Industrials', ' Ohio', datetime.date(2016, 5, 31), 10435825099.51, 1842659000.0, 5.66),
 ('EA', 'Electronic Arts', 'Information Technology', ' California', datetime.date(2016, 3, 31), 20488783027.97, 3396000000.0, 6.03),
 ('FFIV', 'F5 Networks', 'Information Technology', ' Washington', datetime.date(2016, 9, 30), 8397820806.27, 1185262000.0, 7.09),
 ('AYI', 'Acuity Brands Inc', 'Industrials', ' Georgia', datetime.date(2016, 8, 31), 11994736818.73, 1659800000.0, 7.23),
 ('NKE', 'Nike', 'Consumer Discretionary', ' Oregon', datetime.date(2016, 5, 31), 93948961349.37, 12258000000.0, 7.66),
 ('ROK', 'Rockwell Automation Inc.', 'Industrials', ' Wisconsin', datetime.date(2016, 9, 30), 15941338447.89, 1990100000.0, 8.01),
 ('ABC', 'AmerisourceBergen Corp', 'Health Care', ' Pennsylvania', datetime.date(2016, 9, 30), 17139391218.92, 2129404000.0, 8.05),
 ('LOW', "Lowe's Cos.", 'Consumer Discretionary', ' North Carolina', datetime.date(2016, 1, 29), 66830171913.4, 7654000000.0, 8.73),
 ('RHT', 'Red Hat Inc.', 'Information Technology', ' North Carolina', datetime.date(2016, 2, 29), 11952754535.81, 1334432000.0, 8.96),
 ('EL', 'Estee Lauder Cos.', 'Consumer Staples', ' New York', datetime.date(2016, 6, 30), 33704614037.3, 3587300000.0, 9.4),
 ('PAYX', 'Paychex Inc.', 'Information Technology', ' New York', datetime.date(2016, 5, 31), 19539855679.05, 1911700000.0, 10.22),
 ('MON', 'Monsanto Co.', 'Materials', ' Missouri', datetime.date(2016, 8, 31), 47113907289.0, 4534000000.0, 10.39),
 ('KLAC', 'KLA-Tencor Corp.', 'Information Technology', ' California', datetime.date(2016, 6, 30), 11415688383.4, 689114000.0, 16.57),
 ('DE', 'Deere & Co.', 'Industrials', ' Illinois', datetime.date(2016, 10, 31), 147868543606.02, 6520000000.0, 22.68),
 ('CLX', 'The Clorox Company', 'Consumer Staples', ' California', datetime.date(2016, 6, 30), 17899544836.04, 297000000.0, 60.27),
 ('CSRA', 'CSRA Inc.', 'Information Technology', ' Virginia', datetime.date(2016, 4, 1), 5197561087.35, 64546000.0, 80.52)]

1.3 Interpretation<br>
We used the price-to-book ratio to compare a firm's market to book value by dividing price per share by book value per share. If a market value is equal to its book value, then the P/B ratio should be one. A lower P/B ratio could mean the stock is undervalued. The output shows the companies that are most undervalued. The period ending means the date that a company issued its latest annual financial statements. In the where clause, we set the constraint that the estimated outstanding shares are not zero because we found that the companies which showed on the outputs of top companies when we first wrote the query without that constraint were all zero. This may be caused by missing values of the raw data or because the company just came to the market so that it's hard to estimate the outstanding shares. Another constraint we should pay attention to is that total assets minus total liabilities greater than zero. This constraint is necessary because the lowest PB_ratio would be a negative value if we don't set this constraint, which is not what we expected.

Q1.4 Which companies had the lowest price-earnings ratio while also had the good price-book ratio at the end of 2016?

In [28]:
%%sql
SELECT
MSQR.ticker_symbol,MSQR.company_name,MSQR.GICS_sector,MSQR.State,
ROUND(MSQR.market_value/fs.Estimated_Shares_Outstanding,2) AS Market_value_per_share,fs.Earnings_Per_Share,
ROUND((MSQR.market_value/fs.Estimated_Shares_Outstanding)/fs.Earnings_Per_Share,2) AS PE_ratio,
MSQR.PB_ratio
FROM MSQR
LEFT JOIN financial_statements AS fs ON MSQR.ticker_symbol=fs.ticker_symbol
WHERE fs.Period_Ending LIKE "2016%"
AND fs.Estimated_Shares_Outstanding !=0
AND fs.Earnings_Per_Share >0
AND MSQR.PB_ratio<=2
ORDER BY PE_ratio;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('HPE', 'Hewlett Packard Enterprise', 'Information Technology', ' California', 22.47, 1.84, 12.21, 1.23),
 ('DHI', 'D. R. Horton', 'Consumer Discretionary', ' Texas', 30.2, 2.39, 12.64, 1.65),
 ('JEC', 'Jacobs Engineering Group', 'Industrials', ' California', 51.72, 1.75, 29.55, 1.46),
 ('NWSA', 'News Corp. Class A', 'Consumer Discretionary', ' New York', 11.35, 0.3, 37.83, 0.58),
 ('WDC', 'Western Digital', 'Information Technology', ' California', 46.47, 1.01, 46.01, 1.0)]

1.4 Interpretation<br>
The price-earnings ratio (P/E ratio) is the ratio for valuing a company that measures its current share price relative to its per-share earnings. In essence, the price-earnings ratio indicates the dollar amount an investor can expect to invest in a company in order to receive one dollar of that company’s earnings. Typically, if the companies pay dividends at the same level, then for the investors, a lower P/E ratio is better. Therefore, we calculated the P/E ratio to find the potentially undervalued stocks. 
<br>The outputs just have five companies because we set the constraint "PB ratio no more than 2" in the where clause. This constraint came from the methodology of Benjamin Graham, the father of value investing, which is called the margin of safety. The margin of safety is the principle of buying a security at a significant discount to its intrinsic value, which is thought to not only provide high-return opportunities, but also to minimize the downside risk of an investment. Usually, the P/B ratio varies in different sectors, but a P/B ratio no more than two is a safe number that allows us to buy an equity at a big enough discount to leave some room for error in the estimation of value.
<br>Similar to Q1.3, we set another two constraints "outstanding estimated shares!=0" and "earnings per share>0" because with these two constraints the lowest P/E ratio will be negative, which will cause us to make the opposite conclusion.
<br>There is no exact rule for what is a good P/E ratio, but in practice, the average P/E ratio in the whole market is usually between 20 to 25, for a healthy market. Therefore, we also applied the methodology of the margin of safety to our selection standard. From the output, we can see only two companies, Hewlett Packard Enterprise and D. R. Horton have P/E ratio no more than 20. Therefore, the final decision about which security we should buy is to buy HPE and DHI.

Q1.5 Assume we had invested the two securities we screened, HPE and DHI, at the earliest. What is the ratio of return on our capital if we hold these two stocks at the end of 2016?

In [29]:
%%sql
DROP VIEW IF EXISTS HPE_earlier;
DROP VIEW IF EXISTS HPE_later;
DROP VIEW IF EXISTS DHI_earlier;
DROP VIEW IF EXISTS DHI_later;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [30]:
%%sql
CREATE VIEW HPE_earlier AS
(SELECT symbol,date AS earlier_date,close AS earlier_close FROM prices
WHERE (symbol,date) IN
(SELECT symbol,MIN(date) FROM prices WHERE symbol= 'HPE'));

CREATE VIEW HPE_later AS
(SELECT symbol,date AS later_date,close AS later_close FROM prices
WHERE (symbol,date) IN
(SELECT symbol,MAX(date) FROM prices WHERE symbol= 'HPE'));

CREATE VIEW DHI_earlier AS
(SELECT symbol,date AS earlier_date,close AS earlier_close FROM prices
WHERE (symbol,date) IN
(SELECT symbol,MIN(date) FROM prices WHERE symbol= 'DHI'));

CREATE VIEW DHI_later AS
(SELECT symbol,date AS later_date,close AS later_close FROM prices
WHERE (symbol,date) IN
(SELECT symbol,MAX(date) FROM prices WHERE symbol= 'DHI'));

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [31]:
%%sql
SELECT symbol,earlier_date,earlier_close,later_date,later_close, 
ROUND((later_close-earlier_close),2) AS dif_close, DATEDIFF(later_date,earlier_date) AS dif_date,
ROUND(((later_close-earlier_close)/earlier_close)/DATEDIFF(later_date,earlier_date)*365,2) AS annual_rate_of_increase FROM
    (
        (SELECT HPE_earlier.symbol,HPE_earlier.earlier_date,HPE_earlier.earlier_close,
         HPE_later.later_date,HPE_later.later_close FROM HPE_earlier
        INNER JOIN HPE_later
        ON HPE_earlier.symbol=HPE_later.symbol)
        UNION
        (SELECT DHI_earlier.symbol,DHI_earlier.earlier_date,DHI_earlier.earlier_close,
         DHI_later.later_date,DHI_later.later_close FROM DHI_earlier
        INNER JOIN DHI_later
        ON DHI_earlier.symbol=DHI_later.symbol)
    ) AS HPE_JEC
ORDER BY annual_rate_of_increase DESC;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
2 rows affected.

[('HPE', datetime.date(2015, 10, 19), 16.55, datetime.date(2016, 12, 30), 23.14, 6.59, 438, 0.33),
 ('DHI', datetime.date(2010, 1, 4), 11.16, datetime.date(2016, 12, 30), 27.33, 16.17, 2552, 0.21)]

1.5 Interpretation<br><br>
The return on capital is equal to the profit we gained divided by our invested capital. In order to simplify the calculation, we assume the stocks have no dividends. Then, the profit we gained during our holding period is mainly from the fluctuation of stock price, the latest close price minus the price when we invested it.<br>
<br>In the output, the earlier date is the earliest date that we could invest in a stock, and the later date is the latest date we hold that stock, the end of 2016. The earlier date of HPE is not same as DHI, but just Oct 19th, 2015 because the HPE company had become a listed company until 2015. The earlier_close means the original price when we bought a stock, and the later_close is the close price at the end of 2016. The dif_close means the difference between the latest close price and the original price. Since we hold different stocks for different periods, is not comparable for the return of each stock, so we use the ratio of return instead of the absolute return value. The dif_date means how long we hold a stock. Then, the ratio of return of each stock could be calculated by dividing the price appreciation by the holding period. The result is the daily ratio of return. After that, we multiply this rate by 365 and get the annual rate of return.<br>
<br>From the output, we can see that the annual rate of return for HPE is 33%, and the rate of 21% for DHI. These two numbers are both very high comparing to the rate of return on the whole market, which proved that we made a good choice.

## Part II Analyzing S&P 500 in the view of sectors

Q2.1 How many sectors covered in S&P 500?

Check if missing records existed in sector column?

In [32]:
%sql SELECT COUNT(Ticker_symbol) FROM securities WHERE GICS_Sector ="";
%sql SELECT COUNT(Ticker_symbol) FROM securities WHERE GICS_Sector IS NULL;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.
 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[(0,)]

distinctly count sectors

In [33]:
%sql SELECT DISTINCT GICS_Sector FROM securities;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
11 rows affected.

[('Health Care',),
 ('Industrials',),
 ('Consumer Discretionary',),
 ('Information Technology',),
 ('Consumer Staples',),
 ('Utilities',),
 ('Financials',),
 ('Real Estate',),
 ('Materials',),
 ('Energy',),
 ('Telecommunications Services',)]

<br>
2.1 Interpretation:
<br><br>
From the output above, 11 sectors covered in S&P 500.<br>


Q2.2 Background 

The Dupont analysis also called the Dupont model is a financial ratio based on the return on equity ratio that is used to analyze a company’s ability to increase its return on equity. The Dupont analysis looks at three main components of the ROE ratio: 
Profit Margin 
Total Asset Turnover 
Financial Leverage <br>
ROE= Profit Margin * Total Assets Turnover * Financial Leverage 
ROE= Net Income/Total Equity= (Net Income/ Net Sales)* (Net Sales/ Average total Assets) * (Total Assets/ Total Equity)<br>
Profit Margin measures the amount of net income earned with each dollar of sales generated by comparing the net income and net sales of a company. That is, this ration can tell us how effectively a company can convert sales into net income. <br>Total Assets Turnover shows how efficiently a company can use its assets to generate sales.<br>
Financial Leverage shows the level of debt financing is used to acquire assets and maintain operations.

Q2.2  How are we going to use the DuPont Analysis?
<br>
<br>
Many companies in different industries are always trying to exploring the right strategy they can exploit.
What if they were not sure their strategies are appropriate. Questions come like " Do we run our company efficiently?" and 
"Do we need to lower our company's financial leverage to reduce financial risk?" For these business owners, it is a good way to examine successful corporate strategy examples, which can help them identify methods to target within their own organizations.
S&P 500 covers 11 sectors and each company listed in S&P 500 can be considered as the successful benchmark in a certain sector.
<br>
<br>
In this part, we are going to derive some information from all the financial statements filed by most of S&P 500 companies and their general description to offer some guidelines to other companies from the view of DuPont Analysis.
<br>

Choose the year when most companies' reports had been collected

In [34]:
%%sql (SELECT YEAR(Period_Ending) AS Year, COUNT(Ticker_Symbol) FROM financial_statements WHERE YEAR(Period_Ending) = 2016)
      UNION
     (SELECT YEAR(Period_Ending) AS Year, COUNT(Ticker_Symbol) FROM financial_statements WHERE YEAR(Period_Ending) = 2015)
      UNION
     (SELECT YEAR(Period_Ending) AS Year, COUNT(Ticker_Symbol) FROM financial_statements WHERE YEAR(Period_Ending) = 2014)
      UNION
     (SELECT YEAR(Period_Ending) AS Year, COUNT(Ticker_Symbol) FROM financial_statements WHERE YEAR(Period_Ending) = 2013)
      UNION 
     (SELECT YEAR(Period_Ending) AS Year, COUNT(Ticker_Symbol) FROM financial_statements WHERE YEAR(Period_Ending) = 2012)

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[(2016, 220), (2015, 445), (2014, 436), (2013, 439), (2012, 236)]

The query above shows how many reports had been collected in different years in our database. From this output, we decided to
perfom the DuPont analysis based on the year 2015 since we could analyze the most companies-445.

Use table"financial_statements" to calculate financial ratios which will be used in DuPont Analysis

In [35]:
%sql DROP TEMPORARY TABLE IF EXISTS ROE_SUM;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

In [36]:
%%sql  
CREATE TEMPORARY TABLE ROE_SUM AS
(SELECT  Ticker_Symbol,Period_Ending,(Profit_Margin/100) AS Profit_Margin, 
ROUND(ABS((Net_Income/(Profit_Margin/100))/Total_Assets),2) AS Total_Assets_Turnover, 
ROUND(ABS(Total_Assets/Total_Equity ),2) AS Financial_Leverage, 
ABS(round((Profit_Margin*((Net_Income/(Profit_Margin/100))/Total_Assets)* (Total_Assets/Total_Equity)),0))/100 AS roe,
(After_Tax_ROE/100) AS After_Tax_ROE
FROM financial_statements 
ORDER BY After_Tax_ROE DESC);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1776 rows affected.

[]

In [37]:
%sql SELECT * FROM ROE_SUM LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('LB', datetime.date(2015, 1, 31), 0.09, 1.55, 415.33, 57.89, 57.89)]

Through queries above, we calculated each companies ROE and the three components including Profit Margin, Total Assets Turnover, and Financial Leverage. We created a temporary table" ROE_SUM" to summarize our calculated results.

Combine temporary table"ROE_SUM" with base table"securities"

In [38]:
%sql DROP TABLE IF EXISTS ROE_SUM1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

In [39]:
%%sql 
CREATE TABLE ROE_SUM1 AS
(SELECT ROE_SUM.Ticker_Symbol, securities.Company_name AS name, securities.GICS_Sector AS sector,
ROE_SUM.Period_Ending, ROE_SUM.Profit_Margin, ROE_SUM.Total_Assets_Turnover,
ROE_SUM.Financial_Leverage,ROE_SUM.After_Tax_ROE      
FROM ROE_SUM 
INNER JOIN securities
ON securities.Ticker_symbol= ROE_SUM.Ticker_Symbol 
ORDER BY After_Tax_ROE DESC);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1776 rows affected.

[]

In [40]:
%sql SELECT * FROM ROE_SUM1 LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('LB', 'L Brands Inc.', 'Consumer Discretionary', datetime.date(2015, 1, 31), 0.09, 1.55, 415.33, 57.89)]

Financial ratios vary a lot depending on sectors. Different companies in different sectors couldn't use the same standard. 
Because the operational risk companies in different sectors face and financial risk they undertake are significantly different.
Hence, we used queries above to combine their financial.
<br>
ratios with their sector information and created the table"ROE_SUM1" based on this combination.

Calculate the financial ratios by sectors

In [41]:
%%sql SELECT ROE_SUM1.sector,  YEAR(ROE_SUM1.Period_Ending) AS Year, 
             ROUND(AVG(ROE_SUM1.Profit_Margin),2) AS AVG_PM, 
             ROUND(AVG(ROE_SUM1.Total_Assets_Turnover),2) AS AVG_TAT,
             ROUND(AVG(ROE_SUM1.Financial_Leverage),2) AS AVG_FL, 
             ROUND(AVG(ROE_SUM1.After_Tax_ROE),2) AS AVG_ROE
      FROM   ROE_SUM1 WHERE YEAR(ROE_SUM1.Period_Ending)=2015 
      AND    ROE_SUM1.After_Tax_ROE < 5 
      GROUP BY ROE_SUM1.sector
      ORDER BY AVG_ROE DESC;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
11 rows affected.

[('Consumer Staples', 2015, 0.09, 1.37, 5.72, 0.6),
 ('Energy', 2015, 0.42, 0.54, 4.17, 0.41),
 ('Industrials', 2015, 0.1, 0.99, 4.82, 0.37),
 ('Telecommunications Services', 2015, 0.15, 0.36, 5.76, 0.33),
 ('Materials', 2015, 0.12, 0.74, 4.06, 0.31),
 ('Consumer Discretionary', 2015, 0.09, 1.17, 4.31, 0.28),
 ('Health Care', 2015, 0.12, 0.85, 4.27, 0.26),
 ('Information Technology', 2015, 0.17, 0.6, 2.73, 0.23),
 ('Financials', 2015, 0.16, 0.21, 8.18, 0.16),
 ('Real Estate', 2015, 0.28, 0.21, 3.21, 0.12),
 ('Utilities', 2015, 0.11, 0.26, 3.78, 0.1)]

Q2.2 Interpretation:
<br>
<br>
In queries above, we calculated the average profit margin, average total assets turnover, average financial leverage and average return on equity by sectors in 2015. We should note one thing that we excluded companies whose ROE exceeded 500. The reason for excluding these companies is that their fairly high ROE came for a special reason and other companies are unlikely to refer to their financial ratios. We will continue to discuss these outliers in later queries.
<br><br>
So far, the query results can be presented to companies in different sectors as one of their references to set their goals or strategies. For example, a company in Health Care expects to achieve ROE about 0.26 which means that every dollar of common stockholders’ equity generates 0.22 dollar of net income, then it's advisable for this company to adopt the financial leverage no more than 4.3 and be more effective at using company's asset to create added values, say profit margin should be 12% and total assets turnover be 0.85.

Q2.2 Extension: Further check the companies with exceptional performances

In [42]:
%%sql SELECT ROE_SUM1.sector,  YEAR(ROE_SUM1.Period_Ending) AS Year, 
             ROUND(AVG(ROE_SUM1.Profit_Margin),2) AS AVG_PM, 
             ROUND(AVG(ROE_SUM1.Total_Assets_Turnover),2) AS AVG_TAT,
             ROUND(AVG(ROE_SUM1.Financial_Leverage),2) AS AVG_FL, 
             ROUND(AVG(ROE_SUM1.After_Tax_ROE),2) AS AVG_ROE
      FROM   ROE_SUM1 WHERE YEAR(ROE_SUM1.Period_Ending)=2015 
      AND    ROE_SUM1.After_Tax_ROE >= 5 
      GROUP BY ROE_SUM1.sector
      ORDER BY AVG_ROE DESC;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('Consumer Discretionary', 2015, 0.06, 0.89, 635.02, 31.89),
 ('Energy', 2015, 2.42, 0.54, 7.73, 8.02),
 ('Industrials', 2015, 0.07, 0.97, 88.4, 6.01),
 ('Financials', 2015, 0.22, 0.64, 42.18, 5.96),
 ('Consumer Staples', 2015, 0.05, 1.37, 85.3, 5.82)]

In [43]:
%%sql 
SELECT * FROM  ROE_SUM1 
WHERE YEAR(ROE_SUM1.Period_Ending)=2015 
AND ROE_SUM1.After_Tax_ROE >= 5
ORDER BY After_Tax_ROE DESC;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
7 rows affected.

[('LB', 'L Brands Inc.', 'Consumer Discretionary', datetime.date(2015, 1, 31), 0.09, 1.55, 415.33, 57.89),
 ('APA', 'Apache Corporation', 'Energy', datetime.date(2015, 12, 31), 3.69, 0.34, 7.34, 9.17),
 ('CHK', 'Chesapeake Energy', 'Energy', datetime.date(2015, 12, 31), 1.15, 0.74, 8.12, 6.87),
 ('ALLE', 'Allegion', 'Industrials', datetime.date(2015, 12, 31), 0.07, 0.97, 88.4, 6.01),
 ('SPGI', 'S&P Global, Inc.', 'Financials', datetime.date(2015, 12, 31), 0.22, 0.64, 42.18, 5.96),
 ('CHTR', 'Charter Communications', 'Consumer Discretionary', datetime.date(2015, 12, 31), 0.03, 0.23, 854.7, 5.89),
 ('KMB', 'Kimberly-Clark', 'Consumer Staples', datetime.date(2015, 12, 31), 0.05, 1.37, 85.3, 5.82)]

Q2.2 Extension interpretation
<br>
<br>
We further checked the outliers via queries screening out all the companies with ROE more than 5. As the output shown, there were 7 seven companies with fairly high ROE because of high financial leverage used or abnormal profit margin created in 2015. If we involved these seven companies to calculate the average standard and offer advice, our advice would be misleading. These companies' exceptional ratios of profit margin and financial leverage represented high operational risk and financial risk. On
the other hand, these exceptional ratios also mean exceptional returns. So, these companies might be the first choice for speculators.

Q2.3 Check if there is a coincidence between the financial performance and market trends

First, we found the company with the best financial performance from 2013 to 2016

In [44]:
%%sql DROP TABLE IF EXISTS 2016report;
      DROP TABLE IF EXISTS 2013report;
      CREATE TABLE 2016report AS(SELECT * FROM financial_statements WHERE YEAR(Period_Ending)=2016);
      CREATE TABLE 2013report AS(SELECT * FROM financial_statements WHERE YEAR(Period_Ending)=2013);
      SELECT * FROM 2016report LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.
220 rows affected.
439 rows affected.
1 rows affected.

[('AAP', datetime.date(2016, 1, 2), 3757085000.0, -21476000.0, -7484000.0, 19.0, -234747000.0, 603332000.0, 2.0, 90782000.0, -244096000.0, 7000.0, 5314246000.0, 130.0, 0.0, 433925000.0, 269476000.0, 818296000.0, 752888000.0, -4213000.0, 0.0, 1434577000.0, 989484000.0, 45.0, 4422772000.0, 279490000.0, 687125000.0, 65408000.0, 4174768000.0, 0.0, 174667000.0, 1213161000.0, 0.0, 0.0, 0.0, -426322000.0, -13889000.0, 689642000.0, -445952000.0, -253366000.0, 473398000.0, 30250000.0, 473398000.0, 473398000.0, 597788000.0, 0.0, 825780000.0, 8.0, 82633000.0, 77408000.0, 39794000.0, -44059000.0, -13492000.0, -18619000.0, 229354000.0, 7423000.0, 0.0, 8.0, 31.0, 5.0, 20.0, 0.0, 2021077000.0, -1491000.0, 3596992000.0, 598000.0, 0.0, 8134565000.0, 4940746000.0, 3797477000.0, 2460648000.0, 5673917000.0, 8134565000.0, 9737018000.0, -119709000.0, 2015.0, 6.45, 73395038.76)]

In [45]:
%%sql SELECT 2016report.Ticker_Symbol, ((2016report.Net_Cash_Flow-2013report.Net_Cash_Flow)/1000000000) AS NCFchange_billion,
     ROUND((2016report.Net_Cash_Flow-2013report.Net_Cash_Flow)/2013report.Net_Cash_Flow,2) AS percentI,
    ((2016report.Net_Income_Applicable_to_Common_Shareholders-2013report.Net_Income_Applicable_to_Common_Shareholders)/1000000000)
    AS NIncome_billion,
    ROUND(((2016report.Net_Income_Applicable_to_Common_Shareholders-2013report.Net_Income_Applicable_to_Common_Shareholders)
    /2013report.Net_Income_Applicable_to_Common_Shareholders),2) AS percentII
    FROM 2016report INNER JOIN 2013report ON 2016report.Ticker_Symbol=2013report.Ticker_Symbol
    ORDER BY NIncome_billion DESC LIMIT 5;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('FB', 3.057, 3.26, 8.697, 5.83),
 ('AAPL', -4.149, -1.18, 8.65, 0.23),
 ('GM', -3.771, -2.36, 5.657, 1.5),
 ('EBAY', 2.307, -0.99, 4.41, 1.54),
 ('CHTR', 1.516, 108.29, 3.691, -21.84)]

The query above indicated that FB(Facebook) had the best financial performance.
<br>
In the next step, we looked at the stock market and spotted out which company's close price experienced the fastes growing.

In [46]:
%%sql  DROP VIEW IF EXISTS 16mar;
       DROP VIEW IF EXISTS 13mar;
    
       CREATE VIEW 13mar AS (SELECT symbol, SUM(volume) AS SUM_volume13, ROUND(AVG(close),2) AS AVG_close13 FROM prices WHERE YEAR(date)=2013 
       GROUP BY symbol);
        
       CREATE VIEW 16mar AS (SELECT symbol, SUM(volume) AS SUM_volume16, ROUND(AVG(close),2) AS AVG_close16 FROM prices WHERE YEAR(date)=2016 
       GROUP BY symbol);
    
       SELECT * FROM 16mar LIMIT 5;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
5 rows affected.

[('A', Decimal('524927900'), 43.37),
 ('AAL', Decimal('2309784700'), 38.18),
 ('AAP', Decimal('260668100'), 155.49),
 ('AAPL', Decimal('9680671300'), 104.6),
 ('ABBV', Decimal('2019860600'), 60.67)]

In [47]:
%%sql SELECT 16mar.symbol, 16mar.SUM_volume16,13mar.SUM_volume13,
      (16mar.SUM_volume16-13mar.SUM_volume13)/13mar.SUM_volume13 AS volume_dif,
      16mar.AVG_close16,13mar.AVG_close13,
      (16mar.AVG_close16-13mar.AVG_close13)/13mar.AVG_close13 AS AvgClose_dif
      FROM 16mar, 13mar 
      WHERE 16mar.symbol = 13mar.symbol
      ORDER BY AvgClose_dif DESC LIMIT 5;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('AVGO', Decimal('807593700'), Decimal('650915300'), Decimal('0.2407'), 157.19, 38.54, 3.07862),
 ('NVDA', Decimal('2788055600'), Decimal('2228684400'), Decimal('0.2510'), 53.76, 14.19, 2.788584),
 ('EA', Decimal('906326300'), Decimal('1201599300'), Decimal('-0.2457'), 73.75, 21.82, 2.379927),
 ('FB', Decimal('6414357000'), Decimal('15143182600'), Decimal('-0.5764'), 117.04, 35.48, 2.29876),
 ('SWKS', Decimal('795435200'), Decimal('839161400'), Decimal('-0.0521'), 70.63, 23.68, 1.982686)]

Q2.3 interpretation
<br><br>
This results showed us that Facebook's average close price increased by 229% and its volume decreased by 57%.
Even though in the growth of close price term, Facebook didn't reach the first place in the stock market from 2013 to 2016,
it still remains at the top five with its outstanding financial performance. There is no coincidence. Markets can greatly
reflect the companies performance.

# Conclusion
<br>
1.We should invest the two most undervalued companies, Hewlett Packard Enterprise and D. R. Horton.<br><br>
2.We would get at most 33% and 21% if we invested HPE and DHI as earlier as possible since 2010.<br><br>
3.Companies can improve their strategies by referring to the industrial standard generated by DuPont analysis and finally raise their returns on equity.<br><br>
4.Facebook had the best financial performance from 2013 to 2016.
<br>

# Future Work
<br>
In this project, we had a lot of limitations when we tried to use some models and formulas to analyze the stocks. This is mainly caused by the lack of data in our table.<br>
<br> On one hand, some models and formulas needed some features that do not exist in our database. For example, when we try to build the capital asset pricing model (CAPM) to evaluate the securities' returns and risks more technically and accurately, we could not achieve this because our database did not have the risk-free rate and other key factors.<br>
<br>On the other hand, the existed features in our database did not have complete data. For instance, when I using the DuPont Analysis on Q2, we chose to perform it on 2015 but not on 2016 just because the companies in 2016 are far less than the companies in 2015.<br>
<br>In the future, we will directly get the raw data from original website, not from Kaggle. This method can allow us get more abundant data that we want, and then we will be able to perform further analysis.<br>

# References
<br>
Entity–relationship model, (https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model)
<br>
Benjamin Graham's Timeless Investment Principles,(https://www.investopedia.com/articles/basics/07/grahamprinciples.asp)